// botoes
.btn{
    @include link();
    @include centraliza();
    height: 45px;
    margin: 10px;
    padding: 15px;
    border: 1px solid $primaria;
    border-radius: 10px;
    color: $primaria;
    cursor: pointer;
    &:hover{
        color: white;
        background-color: $primaria;
    }
}
.btn-efect{
    @include link();
    @include centraliza();
    height: 45px;
    margin: 10px;
    padding: 15px;
    // border: 1px solid $primaria;
    border-radius: 10px;
    color: $primaria;
    &:hover{
        color: white;
        background-color: $primaria;
        box-shadow: 0 0 10px $primaria,0 0 40px $primaria,
        0 0 80px $primaria,;
    }
}
.tmodern{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: $primaria;
    color: transparent;

}

table{
    width: 140%;
    border: 1 solid grey; 
    border-collapse: collapse;
    thead{
        tr{
            &:hover{
                background-color: rgba(0,0,0,0.0);
            }
        }
    }
    th{
        border-bottom: 1px solid $primaria;
        width: 500px;
        font-size: 25px;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: $primaria;
        color: white;
    }
    tr{
        width: 500px;
        .md{
            border-left: 1px solid $primaria;
            border-right: 1px solid $primaria;
        }
        td{
            padding: 40px;
            font-size: 20px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }
        
        &:hover{
            background-color: rgba(0,0,0,0.05);

        }
    }
}

//Dropdown
.menu{
    list-style:none; 
    float:left; 
    li{
        position:relative; 
        float:left; 
        a{
            color:$secundaria; text-decoration:none; padding:5px 10px; display:block;
            transition: all 400ms;

            &:hover{
                background:$primaria; 
                color:#fff; 
                -moz-box-shadow:0 3px 10px 0 #CCC; 
                -webkit-box-shadow:0 3px 10px 0 #ccc; 
                text-shadow:0px 0px 5px #fff; 
            }
        }
    }
    li ul{
        position:absolute; 
        top:25px; 
        left:-40px;
        background-color:transparent; 
        display:none;
        transition: all 400ms;

    }
    li ul li{
        // border:1px solid $primaria; 
        background: rgba(171, 164, 173,0.3);
        // border-radius: 10px;
        display:block; 
        width:150px;
        transition: all 200ms;
    }
}
.menu li:hover ul, .menu li.over ul{display:block;}

.modal{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 120%;
    background: rgba(0,0,0,0.5);
    .conteudoModal{
        margin-left: 30%;
        width: 50%;
        height: 60vh;
        background: white;
        position: fixed;
        border-radius: 20px;
        .inicioModal{
            display: grid;
            grid-template-columns: 9fr 1fr;
            div{
                display: flex;
                margin-top: 5%;
                @include centraliza();
                button{
                    padding: 10px;
                    background: transparent;
                    border: none;
                    box-shadow: none;
                    transition: all 400ms;
                    &:hover{
                        color: red;
                    }
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
        .meioModal{
            display: grid;
            grid-template-columns:1fr;
            // border: 1px solid black;
            div{
                display: flex;
                // @include centraliza();
                margin-top: 5%;
                transition: all 400ms;

                &:hover{
                    label{
                        font-size: 25px;
                    }
                    input{
                        font-size: 18px;
                    }
                }
                &:focus{
                    label{
                        font-size: 25px;
                    }
                    input{
                        font-size: 18px;
                    }
                }
                
                label{
                    font-size: 20px;
                    // margin-right: 5%;
                    // width: 15%;
                    margin-left: 25%;
                    transition: all 400ms;
                
                }
                input{
                    width: 40%;
                    background: none;
                    height: 4%;
                    padding: 5px;
                    border: none;
                    box-shadow: none;
                    transition: all 400ms;
                    font-size: 15px;
                    
                    &:hover{
                        height: 40px;
                    font-size: 18px;
                    }
                    &:focus{
                        outline: none;
                        font-size: 18px;
                        .meioModal div label{
                            font-size: 25px;
                        }
                    }
                }
                textarea{
                    padding: 10px;
                    margin: 10px;
                }
            }
        }
        .botoes{
            display: grid;
            grid-template-columns: 1fr 1fr;
            div{
                display: flex;
                @include centraliza();
                margin-top: 5%;

                input[type=submit]{
                    background: rgb(6, 221, 6);
                    border:none;
                    border-radius:10px;
                    padding: 12px;
                    color: white;
                    transition: all 400ms;
                    &:hover{
                        background-color: green;

                    }
                }
            }
        }
    }
}

#msg{
    padding: 10px;
    background: rgba(255, 0, 0, 0.233);
    border: 2px solid red;
    color: white;
    display: block;
    height: 60%;
    border-radius: 10px;
}
