.conteudoConta{
    display: block;
    width: 150%;
    // border: 2px solid #ff4700ff;
    // height: 100vh;
    .cc2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 100vh;
    }
}
.filtro{
    display: grid;
    // border: 1px solid black;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100px;

    .btnFiltrar{
        grid-column: 1fr;
        a{
            width: 200px;
        }
    }
    .filtros{
        display: flex;
        @include centraliza();
        input{
            background: transparent;
            border: none;
            &:focus{
                outline: none;
            }
        }
        input[type=text]{
            border: 1px solid $primaria;
            // border-radius: 5px;
            border-right: none;
            width: 400px;
            margin: 0;
            height: 40px;
            padding: 10px;
        }
        input[type=submit]{
            margin: 0;
            left: 0;
            height: 40px;
            padding: 5px;
            margin-left: -3px;
            border: 1px solid $primaria;
            // border-radius: 5px;
            border-left:none;
            transition: all 400ms;
            &:hover{
                background-color: $primaria;
                opacity: 0.6;
            }
        }
    }
    .add{
        width: 150px;
    }
}
.conta{
    display: grid;
    grid-column: 1fr;
    margin: 5%;
    margin-left: 12%;
    width: 50%;
    border: 2px solid #ff4700ff;
    height: 43vh;
    padding: 5px;
    border-radius: 10px;
    transition: all 200ms;
    .entraConta{
        margin-top: 10% ;
        @include centraliza();
    }
    .descConta{
        padding: 20px;
        margin-top: 5%;
        ul li{
            list-style: none;
            margin-top: 2%;
            font-size: 20px;
        }
    }
    .NomeConta{
        width: 100%;
        padding: 20px;
        margin-top: 5%;
        @include centraliza();
        font-size: 20px;
    }
    &:hover{
        box-shadow: 0px 0px 20px $primaria;
    }
}