<hr>
<footer>
    <div>
        <h1>Contatos</h1>
        <ul>
            <li><a href="">Facebook</a></li>
            <li><a href="">Orkut</a></li>
            <li><a href="">Twitter</a></li>
        </ul>
    </div>
    <div>
        <h1>Páginas</h1>
        <ul>
            <li><a href="home.php">Home</a></li>
            <li><a href="guia.php">Guia</a></li>
            <li><a href="sobre.php">Sobre nós</a></li>
        </ul>
    </div>
</footer>
<script src="../js/main.js"></script>
</body>
</html>