<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="shortcut icon" href="templates/icon.jpg">
    <script src="../js/jquery.js"></script>
    <title>Modern Economy</title>
</head>
<body>
    <header>
            <div class="p1">
                <a href="home.php"><div class="slogan"></div></a>
            </div>
            <div class="p2">
                <ul>
                    <li><a href="home.php">Home</a></li>
                    <li><a href="guia.php">Guia</a></li>
                    <li><a href="sobre.php">Sobre nós</a></li>
                </ul>
            </div>
            <div class="p3">
                <a href="" class="btn-efect">Login</a>
                <a href="cadastro.php" class="btn">Cadastro</a>
            </div>
    </header>
    <div class="separa">
        
    </div>
 