@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500&display=swap");
.btn {
  text-decoration: none;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ff4700ff;
  border-radius: 10px;
  color: #ff4700ff;
}

.btn:hover {
  color: white;
  background-color: #ff4700ff;
}

.btn-efect {
  text-decoration: none;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45px;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  color: #ff4700ff;
}

.btn-efect:hover {
  color: white;
  background-color: #ff4700ff;
  -webkit-box-shadow: 0 0 10px #ff4700ff, 0 0 40px #ff4700ff, 0 0 80px #ff4700ff;
          box-shadow: 0 0 10px #ff4700ff, 0 0 40px #ff4700ff, 0 0 80px #ff4700ff;
}

.tmodern {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ff4700ff;
  color: #aba4ad;
}

table {
  width: 140%;
  border: 1 solid grey;
  border-collapse: collapse;
}

table thead tr:hover {
  background-color: rgba(0, 0, 0, 0);
}

table th {
  border-bottom: 1px solid #ff4700ff;
  width: 500px;
  font-size: 25px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ff4700ff;
  color: white;
}

table tr {
  width: 500px;
}

table tr .md {
  border-left: 1px solid #ff4700ff;
  border-right: 1px solid #ff4700ff;
}

table tr td {
  padding: 40px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

table tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

header {
  position: fixed;
}

header.h {
  background-color: #ff4700ff;
  width: 100%;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header.h .slogan {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header.h .slogan div {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

header.h .url {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  padding: 20px;
}

header.h .url h1 {
  margin-left: 4%;
  color: white;
}

header.h #mode {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header.h #mode button {
  border: 0 solid black;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

header.h #mode button:focus {
  outline: 0px;
}

header.h #mode #dark {
  background-color: #1a001a;
}

header.h #mode #light {
  background-color: #ff4700ff;
  color: white;
}

header.v {
  background-color: #ff4700ff;
  width: 12%;
  height: 100vh;
}

header.v .slogan {
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header.v a {
  text-decoration: none;
}

header.v .lista div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

header.v .lista div .icone {
  margin-left: 1%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 40px;
  color: white;
}

header.v .lista div .option {
  color: white;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  font-size: 20px;
}

header.v .lista div:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

header.v .lista div:hover .icone {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #ff4700ff;
}

.sair {
  width: 100%;
  margin-top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sair:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;
}

body {
  width: 100%;
  height: 100%;
}

* {
  color: #aba4ad;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Baloo Thambi 2', cursive;
  -moz-user-select: rgba(255, 72, 0, 0.329);
       user-select: rgba(255, 72, 0, 0.329);
  -webkit-user-select: rgba(255, 72, 0, 0.329);
  -ms-user-select: rgba(255, 72, 0, 0.329);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border: 0.5px solid rgba(128, 128, 128, 0.152);
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left bottom, left top, from(#ff4700ff), color-stop(#ff4700ff), to(#ffd000));
  background: linear-gradient(to top, #ff4700ff, #ff4700ff, #ffd000);
  border-radius: 20px;
}

.full header {
  width: 12%;
}

.full section {
  padding-top: 6%;
  width: 70%;
}

.full section .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30%;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  width: 100%;
}

.full section .titulo h1 {
  margin-top: 7%;
  font-size: 35px;
}

.full section .conteudo {
  padding-top: 5%;
  margin-left: 30%;
}

.dados {
  border: 1px solid #ff4700ff;
  border-radius: 10px;
  width: 140ch;
  height: 65vh;
}

.dados ul li {
  margin: 20px;
  margin-top: 30px;
  list-style: none;
  width: 100%;
  height: 6vh;
  font-size: 20px;
}

.dados ul li b {
  color: black;
  margin-right: 5px;
}

.dados ul li:after {
  content: '';
  margin: 0;
  width: 95%;
  height: 2px;
  background: #ff4700ff;
  display: block;
}

.dados fieldset {
  margin: 20px;
  width: 95%;
  padding: 20px;
  border: 1px solid #ff4700ff;
  font-size: 20px;
}

div.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
}

div.options div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

div.options div a {
  text-decoration: none;
  width: 150px;
  margin-left: 30%;
}

@media screen and (max-width: 1700px) {
  .dados {
    width: 130ch;
    height: 65vh;
  }
}

@media screen and (max-width: 1500px) {
  .dados {
    width: 110ch;
    height: 65vh;
  }
}
/*# sourceMappingURL=style.css.map */