@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500&display=swap");
.btn {
  text-decoration: none;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ff4700ff;
  border-radius: 10px;
  color: #ff4700ff;
  cursor: pointer;
}

.btn:hover {
  color: white;
  background-color: #ff4700ff;
}

.btn-efect {
  text-decoration: none;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45px;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  color: #ff4700ff;
}

.btn-efect:hover {
  color: white;
  background-color: #ff4700ff;
  -webkit-box-shadow: 0 0 10px #ff4700ff, 0 0 40px #ff4700ff, 0 0 80px #ff4700ff;
          box-shadow: 0 0 10px #ff4700ff, 0 0 40px #ff4700ff, 0 0 80px #ff4700ff;
}

.tmodern {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ff4700ff;
  color: transparent;
}

table {
  width: 140%;
  border: 1 solid grey;
  border-collapse: collapse;
}

table thead tr:hover {
  background-color: rgba(0, 0, 0, 0);
}

table th {
  border-bottom: 1px solid #ff4700ff;
  width: 500px;
  font-size: 25px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ff4700ff;
  color: white;
}

table tr {
  width: 500px;
}

table tr .md {
  border-left: 1px solid #ff4700ff;
  border-right: 1px solid #ff4700ff;
}

table tr td {
  padding: 40px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

table tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.menu {
  list-style: none;
  float: left;
}

.menu li {
  position: relative;
  float: left;
}

.menu li a {
  color: #aba4ad;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.menu li a:hover {
  background: #ff4700ff;
  color: #fff;
  -moz-box-shadow: 0 3px 10px 0 #CCC;
  -webkit-box-shadow: 0 3px 10px 0 #ccc;
  text-shadow: 0px 0px 5px #fff;
}

.menu li ul {
  position: absolute;
  top: 25px;
  left: -40px;
  background-color: transparent;
  display: none;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.menu li ul li {
  background: rgba(171, 164, 173, 0.3);
  display: block;
  width: 150px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.menu li:hover ul, .menu li.over ul {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 120%;
  background: rgba(0, 0, 0, 0.5);
}

.modal .conteudoModal {
  margin-left: 30%;
  width: 50%;
  height: 60vh;
  background: white;
  position: fixed;
  border-radius: 20px;
}

.modal .conteudoModal .inicioModal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 9fr 1fr;
      grid-template-columns: 9fr 1fr;
}

.modal .conteudoModal .inicioModal div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .conteudoModal .inicioModal div button {
  padding: 10px;
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.modal .conteudoModal .inicioModal div button:hover {
  color: red;
}

.modal .conteudoModal .inicioModal div button:focus {
  outline: none;
}

.modal .conteudoModal .meioModal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.modal .conteudoModal .meioModal div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.modal .conteudoModal .meioModal div:hover label {
  font-size: 25px;
}

.modal .conteudoModal .meioModal div:hover input {
  font-size: 18px;
}

.modal .conteudoModal .meioModal div:focus label {
  font-size: 25px;
}

.modal .conteudoModal .meioModal div:focus input {
  font-size: 18px;
}

.modal .conteudoModal .meioModal div label {
  font-size: 20px;
  margin-left: 25%;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.modal .conteudoModal .meioModal div input {
  width: 40%;
  background: none;
  height: 4%;
  padding: 5px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  font-size: 15px;
}

.modal .conteudoModal .meioModal div input:hover {
  height: 40px;
  font-size: 18px;
}

.modal .conteudoModal .meioModal div input:focus {
  outline: none;
  font-size: 18px;
}

.modal .conteudoModal .meioModal div input:focus .meioModal div label {
  font-size: 25px;
}

.modal .conteudoModal .meioModal div textarea {
  padding: 10px;
  margin: 10px;
}

.modal .conteudoModal .botoes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.modal .conteudoModal .botoes div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
}

.modal .conteudoModal .botoes div input[type=submit] {
  background: #06dd06;
  border: none;
  border-radius: 10px;
  padding: 12px;
  color: white;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.modal .conteudoModal .botoes div input[type=submit]:hover {
  background-color: green;
}

#msg {
  padding: 10px;
  background: rgba(255, 0, 0, 0.233);
  border: 2px solid red;
  color: white;
  display: block;
  height: 60%;
  border-radius: 10px;
}

header {
  position: fixed;
}

header.h {
  background-color: #ff4700ff;
  width: 100%;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header.h .slogan {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header.h .slogan div {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

header.h .url {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  padding: 20px;
}

header.h .url h1 {
  margin-left: 0%;
  color: white;
}

header.h #mode {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header.h #mode button {
  border: 0 solid black;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

header.h #mode button:focus {
  outline: 0px;
}

header.h #mode #dark {
  background-color: #1a001a;
  cursor: pointer;
}

header.h #mode #light {
  cursor: pointer;
  background-color: #ff4700ff;
  color: white;
}

header.v {
  background-color: #ff4700ff;
  width: 12%;
  height: 100vh;
}

header.v .slogan {
  padding-top: 10%;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header.v a {
  text-decoration: none;
}

header.v .lista div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

header.v .lista div .icone {
  margin-left: 1%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 40px;
  color: white;
}

header.v .lista div .option {
  color: white;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  font-size: 20px;
}

header.v .lista div:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

header.v .lista div:hover .icone {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #ff4700ff;
}

.sair {
  width: 100%;
  margin-top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sair:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;
}

.conteudoConta {
  display: block;
  width: 150%;
}

.conteudoConta .cc2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

.filtro {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
  height: 100px;
}

.filtro .btnFiltrar {
  -ms-grid-column: 1;
  grid-column: 1fr;
}

.filtro .btnFiltrar a {
  width: 200px;
}

.filtro .filtros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filtro .filtros input {
  background: transparent;
  border: none;
}

.filtro .filtros input:focus {
  outline: none;
}

.filtro .filtros input[type=text] {
  border: 1px solid #ff4700ff;
  border-right: none;
  width: 400px;
  margin: 0;
  height: 40px;
  padding: 10px;
}

.filtro .filtros input[type=submit] {
  margin: 0;
  left: 0;
  height: 40px;
  padding: 5px;
  margin-left: -3px;
  border: 1px solid #ff4700ff;
  border-left: none;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.filtro .filtros input[type=submit]:hover {
  background-color: #ff4700ff;
  opacity: 0.6;
}

.filtro .add {
  width: 150px;
}

.conta {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  grid-column: 1fr;
  margin: 5%;
  margin-left: 12%;
  width: 50%;
  border: 2px solid #ff4700ff;
  height: 43vh;
  padding: 5px;
  border-radius: 10px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.conta .entraConta {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conta .descConta {
  padding: 20px;
  margin-top: 5%;
}

.conta .descConta ul li {
  list-style: none;
  margin-top: 2%;
  font-size: 20px;
}

.conta .NomeConta {
  width: 100%;
  padding: 20px;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.conta:hover {
  -webkit-box-shadow: 0px 0px 20px #ff4700ff;
          box-shadow: 0px 0px 20px #ff4700ff;
}

.config {
  margin-left: 28%;
  width: 90%;
  height: 50vh;
  border: 1px solid #ff4700ff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.config .label {
  text-align: start;
}

.config .label i {
  margin-left: 40%;
}

.config div {
  width: 100%;
}

.config div label {
  text-align: start;
  font-size: 20px;
  margin-right: 10px;
  margin-left: 0;
}

.config div input {
  margin: 10px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid #ff4700ff;
  height: 50px;
  padding: 20px;
  font-size: 15px;
}

.config div input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 5px #ff4700ff;
          box-shadow: 0px 0px 5px #ff4700ff;
}

.alerts {
  margin-left: 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.alerts p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.formcon {
  background-color: white;
  width: 100px;
  margin-left: 35%;
  padding-bottom: 10%;
}

.formcon:hover {
  background-color: #ff4700ff;
  color: white;
}

.contax {
  border: 1px solid #ff4700ff;
  display: -ms-grid;
  display: grid;
  padding: 20px;
  border-radius: 15px;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  width: 140%;
  min-height: 65vh;
  padding: 7%;
  padding-top: 9%;
}

.contax div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
}

.contax div fieldset {
  border-radius: 10px;
  border: 0.5px solid #ff4700ff;
  padding: 10px;
}

.contax div fieldset legend {
  margin-left: 10px;
  font-size: 30px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ff4700ff;
  color: transparent;
}

.contax div a {
  margin-left: 30px;
  width: 150px;
}

.contax div .Numrecados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contax .recadox {
  border: 1px solid #ff4700ff;
  border-radius: 15px;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #faeb553b;
}

.contax .recadox p {
  width: 80%;
  text-align: left;
  margin-left: 20px;
}

.contax .recadox a {
  width: 20%;
  text-decoration: none;
}

.contax .recadox a:hover {
  color: red;
}

.contax .linhaME {
  width: 100%;
  margin-top: 10%;
  margin-left: 0;
}

.contax h1 {
  font-size: 45px;
}

body {
  width: 100%;
  height: 100%;
}

* {
  color: #aba4ad;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Baloo Thambi 2', cursive;
  -moz-user-select: rgba(255, 72, 0, 0.329);
       user-select: rgba(255, 72, 0, 0.329);
  -webkit-user-select: rgba(255, 72, 0, 0.329);
  -ms-user-select: rgba(255, 72, 0, 0.329);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border: 0.5px solid rgba(128, 128, 128, 0.152);
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left bottom, left top, from(#ff4700ff), color-stop(#ff4700ff), to(#ffd000));
  background: linear-gradient(to top, #ff4700ff, #ff4700ff, #ffd000);
  border-radius: 20px;
}

.full header {
  width: 12%;
}

.full section {
  padding-top: 6%;
  width: 70%;
}

.full section .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30%;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  width: 100%;
}

.full section .titulo h1 {
  margin-top: 7%;
  font-size: 35px;
}

.full section .conteudo {
  padding-top: 5%;
  margin-left: 30%;
}

.dados {
  border: 1px solid #ff4700ff;
  border-radius: 10px;
  width: 140ch;
}

.dados ul li {
  margin: 20px;
  margin-top: 30px;
  list-style: none;
  width: 100%;
  height: 6vh;
  font-size: 20px;
}

.dados ul li b {
  color: black;
  margin-right: 5px;
}

.dados ul li:after {
  content: '';
  margin: 0;
  width: 95%;
  height: 2px;
  background: #ff4700ff;
  display: block;
}

.dados fieldset {
  margin: 20px;
  width: 95%;
  padding: 20px;
  border: 1px solid #ff4700ff;
  font-size: 20px;
}

div.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
}

div.options div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

div.options div a {
  text-decoration: none;
  width: 150px;
  margin-left: 30%;
}

.espaco {
  width: 100%;
  background: transparent;
  height: 10vh;
}

.linhaME {
  content: '';
  margin: 0;
  width: 60%;
  margin-left: 20%;
  height: 2px;
  background: #ff4700ff;
  display: block;
}

@media screen and (max-width: 1700px) {
  .dados {
    width: 130ch;
  }
}

@media screen and (max-width: 1500px) {
  .dados {
    width: 110ch;
  }
}
/*# sourceMappingURL=style.css.map */